
select{
  border: none;
  border-radius: 12px;
  padding: 10px;
  margin: 10px;
  background-color: #f39265;
  color: white;
  width: 30%;
}

button{
  border: none;
  border-radius: 10px;
  background-color: #f39265;
  color: white;
  padding: 10px;
  font-family: 'Courier New', Courier, monospace;
}

button:hover{
  background-color: rgb(196, 132, 36);
  cursor: pointer;
}

.encabezado {
  color: white;
  padding: 20px;
  text-align: center;
  font-family: 'Courier New', Courier, monospace;
}

.contenedor__practica{
  padding: 20px;
  font-family: 'Courier New', Courier, monospace;
  background-color: #ee9714;
  color: white;
  border-radius: 12px;
  height: auto;
}

.contendor__Preguntas{
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  border-radius: 12px;
  margin: 20px;
  text-align: center;
  font-family: 'Courier New', Courier, monospace;
  height: auto;
  width: 80%;
}

.validar{
  margin: 20px;
  height: auto;
}