*{
    margin: auto;
    padding: 0;
}

:root{
    --primario: #c07151;
    --secundario: #278A75;
    --terciario: #9DC39A;
    --complementario: #fdce67;
    --complementario2: #4b4341;
    --complementario3: #aa5430;
}


body{
    background-image: url(../img/fondo.jpeg);
    background-color:  #c0c0c09a ;
    backdrop-filter: blur(4px); 
    display: flex;
    flex-direction: column;
    align-items: center;
}
.contenedor{
    width: 100%;
    height: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

.contenedor__titulo{
    font-size: 40px;
    margin: 3%;
    background-color: var(--complementario);
    width: 600px;
    border-radius: 12px;
    height: 80px;
}

h2{
    text-align: center;
    font-weight: bold;
    font-size: 40px;
    margin: 3%;
}

.contenedor__slider{
    width: 90%;
    border-radius: 12px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    background-color: var(--primario);
}

.subtitulo{
    width: 500px;
    height: 100px;
    font-size: 30px;
    margin: 30px;
    justify-content: center;
    display: flex;
    align-items: center;
}

.slider__section{
    margin-block-end: 5%;
}

.recurso{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    border-radius: 12px;
}

.slider__img{
    width: 80%;
    height: 50%;
    display: flex;
    align-items: center;
}

.contenedor__btn{
    display: flex;
    justify-content: space-between;
    margin-top: 60px;
    height: 200px;
    width: 50%;
}

.contenedor__descarga{
    background-color: var(--primario);
    width: 800px;
    height: 300px;
    margin-top: 2%;
    border-radius: 12px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

.enlacePython{
    text-align: center;
    margin: 2.5%;
}

.enlacePython p{
    font-size: 50px;
    font-weight: bold;
}

.enlacePython button{
    height: 50px;
    width: 200px;
    border-radius: 20px;
    border: none;
    font-size: 14px;
    font-weight: bold;
    background-color: var(--complementario);
    margin: 2.5%;
}

.contenedor__practica{
    height: 750px;
    background-color: var(--primario);
    width: 80%;
    display: flex;
    border-radius: 12px;
    margin-top: 20px;
    margin-bottom: 20px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

.contenedor-preguntas{
    height: 750px;
    background-color: var(--terciario);
    margin: 2%;
    width: 80%;
    height: 80%;
    border-radius: 12px;
}

.opcione{
    display: flex;
    flex-direction: column;
    

}

.button-class{
    height: 40px;
    width: 200px;
    border-radius: 20px;
    border: none;
    font-size: 14px;
    font-weight: bold;
    background-color: var(--complementario);
    display: flex;
    justify-content: space-between;
}

a{
    text-decoration: none;
    color: white;
}

.button-class:hover{
    background-color: var(--complementario2);
}

/*JUEGO*/
.enunciado{
    color: #000;
}

.container {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    height: 80%;
    background-color: #f0f0f0;
    border-radius: 10px;
}

.containerEj{
    display: flex;
    justify-content: center;
    margin: 2%;
}
  
.data-examples {
    display: flex;
    align-items: center;
    gap: 10px;
}
  
.example {
    width: 65px;
    height: 65px;
    background-color: #e74c3c;
    color: white;
    text-align: center;
    display: flex;
    align-items: center;
    justify-content: center;
    line-height: 40px;
    border-radius: 50%;
    box-shadow: 0px 2px 4px rgba(0, 0, 0, 0.1);
}
  
.data-box {
    width: 150px;
    height: 200px;
    background-color: #3498db;
    color: white;
    text-align: center;
    padding: 20px;
    margin: 10px;
    border-radius: 10px;
    box-shadow: 0px 4px 6px rgba(0, 0, 0, 0.1);
    cursor: pointer;
}
  
.data-box h2 {
    margin: 0;
    font-size: 18px;
}
  